:root {  
  --primary-color: #031926ff;
  --background-color: #468189ff;
  --note-background: #77aca2ff;
  --text-color: #9dbebbff;
  --accent-color: rgb(240, 229, 198);
  --button-color: rgb(15, 78, 115);
}
